<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#">Register</a>
      </div>
      <div class="card">
        <div class="card-body register-card-body">
          <p class="register-box-msg">Sign up to start your session</p>

          <!-- start registration form -->
          <form action="/api/register" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                name="fullname"
                class="form-control"
                placeholder="full name.."
                required
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email.."
                required
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password.."
                required
              />
            </div>
            <div class="input-group mb-3">
              <input
                type="tel"
                name="phone"
                class="form-control"
                placeholder="Phone.."
                required
              />
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Sign Up
                </button>
              </div>
            </div>
          </form>
          <!-- end registration form -->
          
        </div>
      </div>
    </div>

    <!-- starting scripts -->
    <script src="/adminlte/dist/js/adminlte.min.js"></script>
  </body>
</html>
