@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Glass+Antiqua&display=swap" rel="stylesheet" rel="stylesheet');
@font-face {
  font-family: "Gloss And Bloom";
  src: url("../fonts/Gloss And Bloom Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    --it-ff-body: 'DM Sans', sans-serif;
    --it-ff-heading: 'DM Sans', sans-serif;
    --it-ff-gloss: 'Gloss And Bloom', sans-serif;
}

.container-fluid{
    display: flex;
    justify-content: space-between;

    width: 1213px;
}

.shape-one{
    align-self: center;
}
.row-title{
    display: flex;
    flex-direction: column;
}
.shape-one{
    margin-left: -200px;
}
.shape-two{
    margin-right: -200px;
}
.col-xl-8{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.col-xl-8 h3 ,.col-xl-8 p{
    text-align: center;
}
.colored-text{ 
    color: #FF6525;
}
.col-xl-8 h3{
    font-size: 50px;
    margin-bottom: 50px;  
}
.header{
    margin-top: 50px;
    margin-bottom: -120px;
}
hr{
    border: 1px dashed black;
}
.col-xl-8 p{
    font-family: var(--it-ff-gloss);
}
.container{
    display: flex;
    flex-direction: column;
}
.row-journeys{
    display: flex;
    align-items: center;
    width: 1200px;

    align-self: center;
    justify-content: space-between;
}
.col-xl-4{
    width: fit-content;
    position: relative;
}
.col-xl-4 img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.row .col-xl-4::after{
    content: "10% off";
    position: absolute;
    width: 56px;
    height: 25px;
    background-color: #11BB67;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25px;
    top: 20px;
}
.Featured::before{
    content: "Featured";
    position: absolute;
    background-color:#FF6525;
    width: 62px;
    height: 25px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    left: 90px;
    top: 20px;
}
.description{
    padding: 20px;
    background-color: white;
    position: relative;
    box-shadow:  5px 5px 25px #8080802b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.icon-black{
    display: flex;
    position: absolute;
    right: 50px;
    top: -15px;
}
.camera{
    margin-left: 10px;
}
.camera,.favorite{
    background-color: black;
    color: white;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
}
.location{
    display: flex;
    align-items: center;
}
.location p{
    margin-bottom: 0px;
    
    font-size: 13px;
}
.location i{
    color:#11BB67;
    font-size: 12px;
    margin-right: 2px;
}
.review-price{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price , .review{
    display: flex;
    align-items: center;
  
}
.price{
    font-size: 14px;
}
.review{
    font-size: 16px;
}
.price i{
    color:#11BB67;
    margin-right: 6px;
    align-self: center;
    font-size: 16px;
    height: 16px;
    font-weight: 400;
    margin-bottom: 2px;
  
}
.price p{
    margin-bottom: 0px;
   margin-right: 4px;
}
.review p{
    margin-bottom: 0px;
    margin-right: 4px;
}
.review i{
    margin-top: 4px;
    margin-right: 6px;
    font-size: 18px;
}
.time{
    display: flex;
    justify-content: space-between;
   margin-bottom: 10px;
}
.icon-duration{
    display: flex;
    align-self: center;
}
.icon-duration i{
    color: #11BB67;
    margin-top: 4px;
    margin-right: 3px;
}
.icon-duration p{
    margin-bottom: 0px;
}
button{
    background-color:rgba(76, 160, 41, 0.4);
    border: none;
    width: 126px;
    height: 38px;
    color: white;
    border-radius: 5px;
}
    
    
@media (max-width:575px) {

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row-title{
    align-self: center;
}
.col-xl-8{
    margin-bottom: 40vw;
}
.col-xl-8 h3{
    font-size: 12vw;
}
.shape-box{
    display: none;
}
.col-xl-4{
    margin-bottom: 20px;
}
.col-xl-4 img{
    width: 100%;
}
.review,.price{
    font-size: 13px;
}

}
@media (min-width:576px) and (max-width:767px) {
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-title{
        align-self: center;
    }
    .col-xl-4 img{
        width: 100%;
    }
    
}
@media (min-width:768px) and (max-width:991px) {
   .row{
    width: 100%;
   }
   .row-journeys{
    width: 84vw;
   }
   .col-xl-4{
    width: 42vw;
    margin-bottom: 20px;
}
.col-xl-4 img{
    width: 100%;
}
    .row-title{
        align-self: center;
    }
    .shape-one{
        margin-left: 0px;
    }
    .shape-two{
        margin-right: 0px;
    }
    .last{
        margin-bottom: 60vw;
    }
    .review,.price{
        font-size: 12px;
    }
    h4{
        font-size: 2.8vw;
    }
    
}
@media (min-width:992px) and (max-width:1199px) {
   
    .row{
        width: 100%;
       }
       .row-journeys{
        width: 84vw;
       }
       .col-xl-4{
        width: 42vw;
        margin-bottom: 20px;
    }
    .col-xl-4 img{
        width: 100%;
    }
        .row-title{
            align-self: center;
        }
        .shape-one{
            margin-left: 0px;
        }
        .shape-two{
            margin-right: 0px;
        }
        .last{
            margin-bottom: 60vw;
        }
        
        h4{
            font-size: 2.8vw;
        }
  }
  @media (min-width:1200px) and (max-width:1399px) {
   
    .row{
        width: 100%;
       }

       .col-xl-4{
        width: 27vw;
        margin-bottom: 20px;
    }
    .col-xl-4 img{
        width: 100%;
    }
        .row-title{
            align-self: center;
        }
        .shape-one{
            margin-left: 0px;
        }
        .shape-two{
            margin-right: 0px;
        }
       
  }