.destinations .card {
    position: relative;
}

.destinations .card img {
    transition: 0.3s;
}

.destinations .card:hover img {
    transform: scale(1.2);
}

.destinations .card .dest-info {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.destinations .card .dest-info .dest-name a {
    color: white;
    transition: 0.3s;
}

.destinations .card .dest-info .dest-name a:hover {
    color: var(--secondary-color);
}