main.test {
  height: 100vh;
}

footer {
  position: relative;
  background-color: var(--black-bg);
}

footer [class*="-bg-img-holder"] {
  position: absolute;
  bottom: 0;
  z-index: 22;
}

footer .right-bg-img-holder {
  right: 0;
}

footer .left-bg-img-holder {
  left: 0;
}

footer .container {
  position: relative;
  z-index: 333;
}

footer .footer-content-part {
  color: white;
}

footer .footer-content-part p {
  color: white;
  font-size: 17px;
}

footer .footer-content-part h3 {
  color: white;
  text-decoration-line: underline;
}

footer .footer-social-menu a {
  width: 52px;
  height: 52px;
  color: white;
}

footer .footer-social-menu a:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
}

footer li:not(.footer-social-menu li):hover a {
  color: var(--secondary-color) !important;
}

footer .copyrights-area {
  position: relative;
  z-index: 4444;
  color: white;
  background-color: #2D322F;
}

footer .copyrights-area a {
  color: var(--secondary-color);
  text-decoration: none;
}