.top-header {
  font-size: 15px;
  background-color: var(--black-bg);
}

.top-header .nav li:hover > a {
  color: var(--secondary-color) !important;
}

.top-header li:not(.dropdown-menu li) {
  padding: 13px 0;
}

.top-header li a {
  color: white;
}

.top-header-left .nav li a {
  margin-right: 20px;
}

.top-header-left *[class*="flaticon-"] {
  color: var(--secondary-color);
  font-size: 22px;
  margin-right: 10px;
}

.top-header-left [class*="flaticon-email"] {
  font-size: 25px;
}

.top-header-right .header-social-menu {
  margin-left: 100px;
  position: relative;
}

.top-header-right .header-social-menu::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 130%;
  top: 50%;
  left: -40px;
  background-color: white;
  transform: translateY(-50%);
}

.top-header-right .preferences-menu .language {
  margin-left: 35px;
}
