:root{
    --primary-color: #ff6525;
    --secondary-color: #11bb67;
    --black-bg: #161b18;
    --section-margin: 40px;
    --inner-section-margin: 60px;
}

::-moz-selection {
    text-shadow: none;
    background: var(--primary-color);
    color: #fff;
}

::selection {
    text-shadow: none;
    background: var(--primary-color);
    color: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* start of about us section */

.about-us{
    margin: var(--section-margin) 0px;
    background-color: #F3F8F6;
    background-image: url('../imgs/about-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.about-us .gallery-photos img{
    border-radius: 10px;
}

.about-us .gallery-photos,
.about-us .about-header-text{
    margin-top: var(--inner-section-margin);
}

.about-us .gallery-photos{
    position: relative;
    height: 100%;
    width: 100%;
}


.about-us .about-header-text h4{
    color: var(--primary-color);
    font-family: 'Gloss and bloom';
    font-size: 14px;
    font-weight: 600;
}

.about-us .about-header-text p{
    font-size: 40px;
    font-weight: 700;
    max-width: 500px;
}

.about-us .about-content-text{
    font-size: 12px;
    font-weight: 600;
}

.about-us .about-list ul{
    margin: 0;
    padding: 0;
}

.about-us .about-list ul li .list-text h5{
    font-weight: 800;
    font-size: 18px;
}
.about-us .about-list ul li .list-text p{
    font-size: 14px;
    font-weight: 500;
    color: #6A707B;
    max-width: 400px;
}

.about-us .about-list ul li i{
    font-size: 30px;
    color: var(--primary-color);
    background-color: #F7CBB7;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    align-self: flex-start;
}

.about-us button{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us button:hover{
    background-color: var(--primary-color);
    color: #fff;
}

/* responsive about-us */

@media (min-width: 332px) {
    .about-us .gallery-photos .second-img,
    .about-us .gallery-photos .third-img{
        display: none;
    }
    .about-us .gallery-photos .first-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .about-us .gallery-photos .first-img img{
        max-width: 300px;
    }
}

@media (min-width: 767px) {
    .about-us .gallery-photos .second-img,
    .about-us .gallery-photos .third-img{
        display: block;
    }
    
    .about-us .gallery-photos .second-img img,
    .about-us .gallery-photos .third-img img,
    .about-us .gallery-photos .first-img img{
        position: absolute;
    }

    .about-us .gallery-photos .first-img img{
        max-width: 250px;
        top: 0%;
        right: 5%;
    }

    .about-us .gallery-photos .second-img img{
        top: 25%;
        left: 10%;
        max-width: 150px;
        border: solid 5px #fff;
    }
    .about-us .gallery-photos .third-img img{
        top: 35%;
        left: 58%;
        max-width: 150px;
    }
}

@media (min-width: 1024px) {
    .about-us .gallery-photos .second-img,
    .about-us .gallery-photos .third-img{
        display: block;
    }
    
    .about-us .gallery-photos .second-img img,
    .about-us .gallery-photos .third-img img,
    .about-us .gallery-photos .first-img img{
        position: absolute;
    }

    .about-us .gallery-photos .first-img img{
        max-width: 300px;
        top: 0%;
        right: 5%;
    }

    .about-us .gallery-photos .second-img img{
        top: 30%;
        left: 10%;
        max-width: 200px;
        border: solid 5px #fff;
    }
    .about-us .gallery-photos .third-img img{
        top: 47%;
        left: 55%;
        max-width: 200px;
    }
}

@media (min-width: 1200px) {
    .gallery-photos{
        left: -30%;
    }
    .about-us .gallery-photos .second-img img{
        top: 30%;
        left: 30%;
        max-width: 200px;
        border: solid 5px #fff;
    }
    .about-us .gallery-photos .third-img img{
        top: 49%;
        left: 68%;
        max-width: 200px;
    }
    
}

/* end responsive about-us */

/* end of about us section */