.tours .cards .card .actions {
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: translateY(50%);
    color: white;
    z-index: 333;
}

.cards .card .actions > * {
    color: white;
    background-color: var(--black-bg);
    font-size: 13px;
    transition: 0.3s;
}

.cards .card .actions > * * {
    transition: 0.3s;
}

.cards .card .actions > *:hover * {
    color: var(--secondary-color);
}

.cards .card a.location {
    font-size: 12px;
    color: #6b6f6a;
}

.cards .card .review-price {
    color: #6b6f6a;
}

.cards .card .price {
    font-size: 14px;
}

.cards .card .review-price *[class*="flaticon-"] {
    font-size: 17px;
}

.cards .card hr {
    border: 1px dashed black;
}
