.tours {
    position: relative;
}

.tours .moving-img-holder {
    position: absolute;
    top: 30px;
}

.tours .moving-img-holder:first-of-type {
    left: 80px;
}

.tours .moving-img-holder:last-of-type {
    right: 80px;
}

.tours .card .card-img-holder {
    position: relative;
}

.tours .card .card-img-holder .img-part::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(22, 27, 24, 0.502);
    z-index: 22;
    opacity: 0;
    transition: 0.3s;
}

.tours .card:hover .card-img-holder .img-part::after {
    opacity: 1;
}

.tours .card .card-img-holder .img-part {
    overflow: hidden;
}

.tours .card .card-img-holder .img-part img {
    transition: 0.3s;
}

.tours .card:hover .card-img-holder .img-part img {
    transform: scale(1.2);
}

.tours .card .badges {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 333;
}

.tours .card span[class*="-badge"] {
    font-size: 10px;
}

.tours .card .actions {
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: translateY(50%);
    color: white;
    z-index: 4444;
}

.tours .card .actions > * {
    color: white;
    background-color: var(--black-bg);
    font-size: 13px;
    transition: 0.3s;
}

.tours .card .actions > * * {
    transition: 0.3s;
}

.tours .card .actions > *:hover * {
    color: var(--secondary-color);
}

.tours .card a.location {
    font-size: 12px;
    color: #6b6f6a;
}

.tours .card .card-title a {
    font-size: 24px;
    color: var(--black-bg);
    transition: 0.3s;
}

.tours .card .card-title a:hover {
    color: var(--secondary-color);
}

.tours .card .review-price {
    color: #6b6f6a;
}

.tours .card .review-price *[class*="flaticon-"] {
    font-size: 17px;
}

.tours .card .price {
    font-size: 14px;
}

.tours .card hr {
    border: 1px dashed black;
}
